/* Project Начало*/
.projects {
    margin-bottom: 100px;

    .row {
        row-gap  : 24px;
    }

    h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 49px;
        margin-bottom: 40px;
    }

    .projects__card {
        img {
            border-radius: 15px;
            margin-bottom: 12px;
            width: 100%;
        }

        a {
            font-weight: 600;
            font-size: 18px;
            color: #FFA239;
            text-decoration: none;
            margin-bottom: 6px;
            display: inline-block;
        }
    }
}

/* Project Конец*/